@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.centered-title {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.signup-body {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: all 0.6s ease-in-out;
}

.signup-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.signup-container span {
    font-size: 12px;
}

.signup-container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.signup-container button {
    background-color: #1d0e3f;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    min-width: 150px; /* Ajusta el ancho mínimo del botón */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.signup-container button.signup-hidden {
    background-color: transparent;
    border-color: #fff;
}

.signup-container .form {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.signup-container input {
    background-color: #f0f0f0;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.signup-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signup-sign-in {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.signup-container.signup-active .signup-sign-in {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

.signup-sign-up {
    left: 50%;
    width: 50%;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    transform: translateX(100%);
}

.signup-container.signup-active .signup-sign-up {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

@keyframes signup-move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 2;
    }
}

.signup-social-icons {
    margin: 20px 0;
}

.signup-social-icons a {
    border: 1px solid #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.signup-toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

.signup-container.signup-active .signup-toggle-container {
    transform: translateX(-100%);
}

.signup-toggle {
    background-color: rgba(29, 14, 63, 0.9);
    height: 100%;
    background: linear-gradient(to right, rgba(29, 14, 63, 0.9), rgba(29, 14, 63, 0.9));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signup-container.signup-active .signup-toggle {
    transform: translateX(50%);
}

.signup-toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signup-toggle-left {
    transform: translateX(-200%);
}

.signup-container.signup-active .signup-toggle-left {
    transform: translateX(0);
}

.signup-toggle-right {
    right: 0;
    transform: translateX(0);
}

.signup-container.signup-active .signup-toggle-right {
    transform: translateX(200%);
}

.signup-toggle-wrapper {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1d0e3f;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-text {
    font-size: 14px;
    font-weight: 600;
}

input::placeholder {
    font-size: 10px; /* Ajusta el tamaño del texto */
    color: #aaa; /* Color del placeholder */
}






/* #########################################################################
############################## ABA LOG IN ##################################
######################################################################### */
/* -----------------------------
---------- Login Title ---------
----------------------------- */
#login-title {
    text-align: center;
    font-weight: bold; /* Asegura que el peso sea igual al de 'Create Account' */
    line-height: 1.2; /* Opcional: ajusta el espaciado entre líneas si es necesario */
    white-space: pre-line; /* Respeta los saltos de línea (\n) */
}
/* -----------------------------
------------ Forms -------------
----------------------------- */
#formRegisterUsername {
    width: 180px;
    border-radius: 8px;
}
#formRegisterPassword {
    width: 180px;
    border-radius: 8px;
}
/* -----------------------------
------------ Buttons -----------
----------------------------- */
#logInButton{
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}
#googleLoginButton {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;            /* Activa Flexbox */
    align-items: center;      /* Centra verticalmente los hijos */   
    width: 180px;
    display: flex;             /* Activa Flexbox */
    justify-content: center;   /* Centra horizontalmente (si es necesario) */
    gap: 8px;                  /* Espaciado entre la imagen y el texto */
}
.google-login-button img {
    width: 30px;
    height: 30px;
}
.google-login-button span {
    width: 100px;
    font-size: 12px;
    white-space: pre-wrap; /* Permite saltos de línea y ajusta el texto automáticamente */
    text-align: center;    /* Asegura que el texto esté centrado */
}
div.signup-sign-in .forgot-password-button {
    font-size: 8px; /* Tamaño más pequeño */
    line-height: 1.2; /* Espaciado entre líneas */
    padding: 5px 5px; /* Ajusta el padding */
    width: 180px;
    text-align: center; /* Centra el texto */
}
.forgot-password-button span {
    display: block; /* Asegura que cada línea esté en un bloque separado */
}
.forgot-password-button:hover {
    text-decoration: underline; /* Opcional: subrayar al pasar el cursor */
}

/* #########################################################################
############################ ABA HI FRIEND #################################
######################################################################### */

.signup-toggle-panel.signup-toggle-right{
    white-space: pre-wrap; /* Permite saltos de línea y ajusta el texto automáticamente */
}
/* -----------------------------
----- Styles das bandeiras -----
----------------------------- */
.unique-language-buttons {
    all: unset; /* Resetea todos los estilos heredados */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.unique-language-buttons button {
    all: unset; /* Resetea estilos específicos */
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}
.unique-language-buttons button:hover {
    transform: scale(1.1);
}
.unique-language-buttons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -----------------------------
---------- Login Title ---------
----------------------------- */
#enterDetails {
    margin-bottom: 45px;
}
#register {
    padding-left: 0px;
    padding-right: 0px;
    width: 180px;
}

/* #########################################################################
########################### ABA WELCOME BACK ###############################
######################################################################### */

.signup-toggle-panel.signup-toggle-left h1{
    width: 200px;
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 103px;
}

.signup-toggle-panel.signup-toggle-left #enterLanguage {
    margin-top: 70px;
    margin-bottom: 20px;
}
.signup-toggle-panel.signup-toggle-left #enterDetails {
    height: 60px;
    margin-bottom: 40px;
}

.signup-toggle-panel.signup-toggle-left #register {
    margin-bottom: 57px;
}

.signup-toggle-panel.signup-toggle-left #login {
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 170px;
}
#login{
    width: 180px;
}

/* #########################################################################
########################## ABA CREATE ACCOUNT ##############################
######################################################################### */

/* -----------------------------
------------ Forms -------------
----------------------------- */
#formRegisterUsername{
    width: 180px;
    border-radius: 8px;
}
#formRegisterEmail{
    width: 180px;
    border-radius: 8px;
}
#formRegisterPassword{
    width: 180px;
    border-radius: 8px;
}
#formRegisterConfirmPassword{
    width: 180px;
    border-radius: 8px;
}
#signUpButton{
    width: 180px;
}

/* #########################################################################
############################### POP UP REENVIO EMAIL #######################
######################################################################### */
.popup-overlay {
    position: fixed; /* Fijo respecto a la ventana del navegador */
    top: 750px; /* Centrado verticalmente ajustado */
    left: 108px; /* Centrado horizontalmente ajustado */
    transform: translate(-50%, -50%); /* Ajusta el punto de referencia al centro */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    width: 180px;
    height: 150px;
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

.popup-overlay .close-button {
    position: absolute; /* Posiciona el botón dentro del popup */
    top: 10px; /* Distancia desde el borde superior del popup */
    right: 10px; /* Distancia desde el borde derecho del popup */
    cursor: pointer;
}

#popupMessage {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 12px;
    text-align: center; /* Centra el texto del mensaje */
    width: 140px;
    height: 70px;
    padding-left: 15px;
    padding-bottom: 0px;
}

#popupButtonMail {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 7px;
    text-align: center; /* Centra el texto dentro del botón */
    align-self: center; /* Centra el botón dentro del contenedor flex */
}

#popupButtonClose {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 7px;
    text-align: center; /* Centra el texto dentro del botón */
    align-self: center; /* Centra el botón dentro del contenedor flex */
}

#button-disabled {
    opacity: 0.6;
    text-align: center;
    align-self: center;
    font-size: 10px;
    padding: 10px 20px;
    margin-top: 0px;
}

#button-enabled {
    opacity: 1;
    text-align: center;
    align-self: center;
    font-size: 10px;
    padding: 10px 20px;
    margin-top: 0px;
}
