@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.centered-title {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}

div.signup-toggle-panel.signup-toggle-left h1.portuguese-title {
    font-size: 2 rem !important; /* Aumenta significativamente el tamaño del texto */
    line-height: 0.7 !important; /* Reduce aún más la separación entre líneas */
    text-align: center !important; /* Centra el texto */
    margin: 0 auto !important; /* Asegura que esté centrado horizontalmente */
}

div.signup-toggle-panel.signup-toggle-left h1.portuguese-title span {
    display: block !important; /* Cada parte del texto en su propia línea */
    white-space: nowrap !important; /* Evita divisiones de palabras */
    font-size: inherit !important; /* Asegura que el tamaño de la fuente sea el mismo */
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.signup-body {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: all 0.6s ease-in-out;
}

.signup-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.signup-container span {
    font-size: 12px;
}

.signup-container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.signup-container button {
    background-color: #1d0e3f;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    min-width: 150px; /* Ajusta el ancho mínimo del botón */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.signup-container button.signup-hidden {
    background-color: transparent;
    border-color: #fff;
}

.signup-container .form {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.signup-container input {
    background-color: #f0f0f0;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.signup-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signup-sign-in {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.signup-container.signup-active .signup-sign-in {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

.signup-sign-up {
    left: 50%;
    width: 50%;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    transform: translateX(100%);
}

.signup-container.signup-active .signup-sign-up {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

@keyframes signup-move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 2;
    }
}

.signup-social-icons {
    margin: 20px 0;
}

.signup-social-icons a {
    border: 1px solid #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.signup-toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

.signup-container.signup-active .signup-toggle-container {
    transform: translateX(-100%);
}

.signup-toggle {
    background-color: rgba(29, 14, 63, 0.9);
    height: 100%;
    background: linear-gradient(to right, rgba(29, 14, 63, 0.9), rgba(29, 14, 63, 0.9));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signup-container.signup-active .signup-toggle {
    transform: translateX(50%);
}

.signup-toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signup-toggle-left {
    transform: translateX(-200%);
}

.signup-container.signup-active .signup-toggle-left {
    transform: translateX(0);
}

.signup-toggle-right {
    right: 0;
    transform: translateX(0);
}

.signup-container.signup-active .signup-toggle-right {
    transform: translateX(200%);
}

.signup-toggle-wrapper {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1d0e3f;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-text {
    font-size: 14px;
    font-weight: 600;
}

input::placeholder {
    font-size: 10px; /* Ajusta el tamaño del texto */
    color: #aaa; /* Color del placeholder */
}

div.signup-sign-in .forgot-password-button {
    font-size: 8px; /* Tamaño más pequeño */
    line-height: 1.2; /* Espaciado entre líneas */
    text-align: center; /* Centra el texto */
    padding: 5px 5px; /* Ajusta el padding */
}

.forgot-password-button span {
    display: block; /* Asegura que cada línea esté en un bloque separado */
}

.forgot-password-button:hover {
    text-decoration: underline; /* Opcional: subrayar al pasar el cursor */
}

#login-title {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem !important; /* Asegura que el tamaño sea igual al de 'Create Account' */
    font-weight: bold !important; /* Asegura que el peso sea igual al de 'Create Account' */
    line-height: 1.2; /* Opcional: ajusta el espaciado entre líneas si es necesario */
}

/* #############################
##### Styles das bandeiras #####
############################# */

.unique-language-buttons {
    all: unset; /* Resetea todos los estilos heredados */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.unique-language-buttons button {
    all: unset; /* Resetea estilos específicos */
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.unique-language-buttons button:hover {
    transform: scale(1.1);
}

.unique-language-buttons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* #############################
##### Estilos botao Google #####
############################# */

.google-login-button {
    display: flex;
    flex-direction: column; /* Organiza el contenido en columnas */
    align-items: center; /* Centra los elementos */
    text-align: center; /* Centra el texto */
    white-space: normal; /* Permite que el texto se ajuste automáticamente */
    line-height: 1.5; /* Ajusta el espacio entre las líneas */
    font-size: 1rem; /* Ajusta el tamaño del texto */
    padding: 10px; /* Ajusta el espacio interno */
    max-width: 180px; /* Restringe el ancho máximo del botón */
  }
  
  .google-login-button img {
    margin-bottom: 5px; /* Añade espacio entre el logo y el texto */
  }
  
  .google-logo {
    height: 20px;
    margin-right: 10px;
  }
  
  .google-login-text {
    white-space: pre-line; /* Permite dividir en múltiples líneas */
    text-align: center;
  }

  /* ############################# */