[ req ]
default_bits        = 2048
default_md          = sha256
default_keyfile     = localhost-key.pem
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req
prompt              = no

[ req_distinguished_name ]
C                      = ES                     # País (2 letras)
ST                     = Madrid                 # Estado o provincia
L                      = Guadalajara            # Localidad (ciudad)
O                      = Shape-Tronyc           # Organización
OU                     = Development            # Unidad organizativa
CN                     = localhost              # Nombre común (FQDN o nombre del servidor)
emailAddress           = shapetronyc@gmail.com  # Correo electrónico del administrador

[ v3_req ]
subjectAltName = @alt_names                     # Vincula los nombres alternativos

[ alt_names ]
DNS.1   = localhost                             # Nombre alternativo 1 (DNS)
DNS.2   = 127.0.0.1                             # Nombre alternativo 2 (DNS o IP)
IP.1    = 127.0.0.1                             # Dirección IP alternativa